*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

}
@import "mixing.less";
@font-face{
  .font-face('NavyQueenLT', 'NavyQueenLT');
}
img{
  vertical-align: middle;
}
.arrow-right{
  display: inline !important;
  font-weight: 700;
  font-size: 40px;
  vertical-align: sub;
  margin-left: 10px;
}
body {
  scroll-behavior: smooth; /* плавный скролл */
  background-image: url(../img/images/background.png);
  background-repeat: repeat;
}
.wrapper{
  max-width: 1170px;
  margin: 0 auto;
  height: 2687px;
  background: #fff;
  ul{
    list-style: none;
  }
}
.bolden{
  font-weight: 600;
}
.header{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
  position: relative;
  .header_top{
    background: #211103;
    height: 50px;
    .wrapper{
      background: none;
      height: inherit;
    }
    .clearfix();
    .menu{
      margin: 10px 15px;
      line-height: 25px;
      width: 100%;
      .in_cabinet{
        margin-left: 10%;
        color: #ffffff;
        font-family: Arial;
        font-size: 18px;
        font-weight: 700;
        img{
          margin: -5px 5px;
        }
        &:hover{
          color: @link_hover;
          cursor: pointer;
        }   
      }
      ul{
        li{
          color: #fff;
          float: left;
          padding: 0 25px;
          border: 1px solid transparent;
          -moz-border-image: url(../img/images/border_menu.png) 0 1 0 0 round round;
          -webkit-border-image: url(../img/images/border_menu.png) 0 1 0 0 round round; 
          -o-border-image: url(../img/images/border_menu.png) 0 1 0 0 round round;
          border-image: url(../img/images/border_menu.png) 0 1 0 0 round round;
          font-weight: 600;
          font-size: 18px;
          &:last-child{
            border: none;
          }
          &:hover{
            color: @link_hover;
            cursor: pointer;
          }
        }
      }
    }
  }
  .header_bottom{
    border: 1px solid;
    height: 50px;
    padding-top: 5px;
    background: #fff;
    .wrapper{
      background: none;
      height: 42.5px;
    }
    .bottom_menu{
      float: left;
      .site_slogan{
        float: left;
        text-align: center;
        width: 180px;
        margin-left: 35px;
        h1{
          font-family: NavyQueenLT;
          font-size: 19px;
          text-transform: uppercase;
        }
        h2{
          font-size: 12px;
          padding-top: 4px;
        }
      }
      .phone_number{
        float: left;
        .number{
          float: left;
          font-size: 12px;
          border: 1px solid transparent;
          -moz-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
          -webkit-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round; 
          -o-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
          border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
          line-height: 13px;
          width: 120px;

        }
        img{
          float: left;
        }
        a{
          &:first-child{
            font-weight: 700;
          }
          display: block;
          text-decoration: none;
          color: #000000;
          font-family: Arial;
          font-size: 11.5px;
          font-weight: 400;
        }
      }
      .chose_city{
        float: left;
        margin: 0 40px;
        width: 160px;
        border: 1px solid transparent;
        -moz-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
        -webkit-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
        -o-border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
        border-image: url(../img/images/border_bottom_menu_05.png) 0 1 0 0 round round;
        select{
          cursor: pointer;
          }
        }
      .search{
        float: left;
        line-height: 35px;
        form{
          input{
            width: 320px;
            line-height: 20px;
            border: 1px solid;
            border-radius: 5px;
            padding: 4px;
            cursor: pointer;
          }
          select{
            height: 31.5px;
            position: relative;
            right: 10px;
            background-color: black;
            color: #FFF;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px;
          }
        }
      }
      .basket{
        float: right;
        cursor: pointer;
        width: 47px;
        .yellow_circle{
          width: 19px;
          height: 19px;
          background-color: #f5d602;
          border-radius: 50%;
          float: right;
          position: relative;
          bottom: 30px;
          right: 10px;
        }
      }
    }
  }
}
.advertising{

  width: 1170px;
  margin: 0 auto;
  height: 610px;
  background: #fff;
.tab-content{
  .active{
    .background_notebook{
        width: 1140px;
        margin: 0 auto;
        img{
          margin-top: 10px;
        }
      }

      .on_photo{
        position: relative;
        bottom: 550px;
        max-width: 100%;
      }
  .tab-pane{
    .background_notebook{
      img{
        position: relative;
        bottom: 230px; 
      }
    }  
  }
}
}
  .clearfix();
  .tab-pane{
  .background_notebook{
    .clearfix();
    width: 1140px;
    margin: 0 auto;
    img{
      margin-top: 10px;
    }
  }
    .button_on_photo{
      max-width: 260px;
      height: 30px;
      box-shadow: 0 3px 0 #2a6400;
      background: #49b000;
      border-radius: 5px;
      padding: 7px 22px;
      float: right;
      position: relative;
      left: -5%;
      bottom: 75px;
      a{
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
.list_menu{
  width: 1170px;
  margin: 0 auto;
  height: 20px;
  background: #fff;
  padding: 5px 0;
  margin-bottom: 30px;
  img{
    margin-bottom: 7px;
  }
  ul{
    margin-left: 150px;
    li{
      float: left;
      margin-right: 70px;
      font-size: 16px;
      font-weight: 700;
      list-style: none;
      &:last-child{
        margin-right: 0;
      }
      a{
        text-decoration: none;
        color: #000000;
      }
      & a:hover{
        color: #f5d602;
      }
    }
  }
}
.all_staff{
  .left_menu{
    width: 321px;
    height: initial;
    float: left;
    border: 1px solid;
    border-radius: 15px 0 15px 0;
    margin-left: 20px;
    ul{
      li{
        padding: 7.6px 15px;
        border-bottom: 1px solid;
        font-size: 16px;
        a{
          text-decoration: none;
          color: #000;
        }
        &:hover{
          background: #fcf3b3;
        }
        &:first-child{
          color: #fff;
          background: #000;
          color: #ffffff;
          font-family: Arial;
          font-size: 16px;
          font-weight: 700;
          padding: 16px 15px;
          border-radius: 15px 0 0 0;
        }
        &:last-child{
          border: none;
          border-radius: 0 0 0 15px;
        }
      }
    }
  }
  .katalog{
    width: 495px;
    float: left;
    margin: -5px 29px 0;
    .kat{
      cursor: pointer;
      margin: 6px;
      float: left;
      width: 153px;
      height: 101px;
      border-radius: 10px;
      border: 1px solid #dadada;
      text-align: center;
      padding: 0 35px;
      &:hover{
        background: #fdf7cc;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      img{
        margin-top: 7px;
      }
    }
    .kat10{
      padding: 0;
      line-height: 95px;
      a{
        img{
          margin-left: 15px;
          margin-top: 0;
        }
      }
    }
  }
  .special_offer{
    float: right;
    width: 260px;
    height: 290px;
    background: #f5d602;
    text-align: center;
    margin-right: 15px;
    button{
      width: 110px;
    }
    .clearfix();
    .on_img{
      text-align: center;
      line-height: 40px;
      padding: 0 30px;
      .price_text{
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
      }
      .simple_text{
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
      }
      button{
        box-shadow: 0 3px 0 #2a6400;
        border-radius: 5px;
        padding: 3px;
        background-color: #4bb201;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        img{
          margin-left: 15px;
          border-left: 1px solid;
          padding: 0px 10px;

        }
      }
    }
  }
  .empty{
    padding-left: 15px;
    width: 260px;
    float: left;
    color: #000000;
    margin-top: 10px;
    line-height: 30px;
    overflow: none !important;
    .clearfix();
    p{
      border-bottom: 1px solid;
      font-weight: 700;
    }
    a{
      color: #000;
      font-weight: 700;
    }
    ol{
      list-style-type: decimal;
      li{
        color: #000000;
        font-size: 15px;
      }
    }
  }
  .pupular_staff{
    float: left;
    margin-left: 20px;
    width: 1140px;
    height: 500px;
    background: #dfdfdf;
    padding: 20px;
    margin-top: 15px;
    h2{
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 15px;

    }
    .pupolar_staff_inside{
      width: 1110px;
      height: 424px;
      background: #FFF;
      img{
        margin: 28px 110px !important;
      }
      .staff_4{
        border: none !important;
      }
      .staff_1{
        img{
          margin: 25px 20px 30px 10px !important;
        }
      }
      .staff_only{
        width: 25%;
        text-align: center;
        margin: 0px auto;
        float: left;
        border-right: 2px solid;
        -moz-border-image: url(../img/images/border_left_not_alweys.png) 2 stretch stretch;
        -webkit-border-image: url(../img/images/border_left_not_alweys.png) 2 stretch stretch; 
        -o-border-image: url(../img/images/border_left_not_alweys.png) 2 stretch stretch;
        border-image: url(../img/images/border_left_not_alweys.png) 2 stretch stretch;
        text-align: center;
        p{
          font-size: 20px;
          padding: 10px;
        }
        img{
          float: right;
          margin: 0;
          .clearfix();
        }
        a{
          color: #000000;
          font-size: 20px;
          text-decoration: none;
          font-size: 20px;
          img{
            float: none;
            margin: 0 20px!important;
          }
          &:hover{
            color: #f5d602;
          }
        }
        .price_staff{
          width: 110px;
          height: 30px;
          border-radius: 5px;
          background-color: #f5d602;
          margin-left: 45px;
          float: left;
          padding-top: 5px;
          color: #000000;
          font-family: Arial;
          font-size: 20px;
          font-weight: 700;
        }
        button{
          float: left;
          width: 60px;
          height: 30px;
          padding-right: 16px;
          margin-left: 5px;
          border: none;
          width: 60px;
          height: 30px;
          background: #303030;
          border-radius: 6px;
          cursor: pointer;
          .busket_buy{
            margin: 0 !important;
          }
        }
        .first_pos_button{
          margin-top: 20px!important;
        }
        .position_of_button{
          .clearfix();
          margin-top: 43px;
          button{
            &:hover{
              background: #41a100;
              box-shadow: 0 3px 0 #2a6400;
              border-radius: 6px;
            }
          }
        }
        .stars_of_pupular{
            float: left;
            margin: 17px 70px;
          .stars_in_block{
            float: left;
            margin: 0 0 !important;
          }
        }
      }
    }
  }
} 
.wrapper_footer{
  max-width: 1170px;
  margin: 0 auto;
  height: 422px;
  background: #211103;
  ul{
    list-style: none;
  }
}
.footer{
  background: #211103;
  float: left;
  margin: 0 auto;
  height: 422px;
  ul{
    list-style: none;
  }  
  .footer_in_1{
    width: 25%;
  }
  .footer_in{
    width: 33%;
    float: left;
    padding: 30px 35px 10px 35px;
    height: 340px;
    h3{
        font-weight: 400;
    }
    h2{
      color: #fff;
      font-size: 20px;
    
      float: left;
      margin-bottom: 30px;
      }
    ul{
     clear: both;
     li{
     line-height: 30px;
     font-size: 16px;
    
      a{
          text-decoration: none;
          color: #fff;
        }
      } 
    }
     .ul_number_1{
       opacity: 0.7;
       color: #ffffff;
       font-size: 16px;
      
       }
    h3{
      color: #fff;
      font-size: 16px;
      border-bottom: 1px solid rgba(255, 255, 255, .7);
      float: left;
      padding-bottom: 15px;
    }
    .under_h3_footer{
      margin-top: 30px;
      margin-bottom: 30px;
      float: left;
      span{
        color: #45b2ff;
        font-size: 16px;
        border-right: 1px solid #fff;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      a{
        border-right: 1px solid #fff;
        margin-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      a:last-child{
        border: none;
      }
      a:nth-child(3){
        border: none;
      }
      div{
        color: #fff;
        font-size: 16px;
        margin-top: 35px;
        a{
          float: left;
        }
      }
    }
  }
}
.down_footer{
      float: left;
      margin-left: 35px;
      color: #ffffff;
      font-size: 16px;
      width: 97%;
      abbr{
        float: left;
        padding-top: 10px;
      }
      .down_footer_middle{
        float: left;
        width: 45%;
        padding-left: 10%;
        .img_visa{
          padding-top: 13px;
        }
        img{
          float: left;
          margin-left: 40px;
          background: none;
        }
      }
      .down_footer_right{
        float: right;
        margin-right: 100px;
        a{
          text-decoration: none;
          img{
            margin: 0 10px;
          }
        }
      }
    }
  

